
.letters-to-guess {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
}

.letter-to-guess {
  border-bottom: solid 2px black;
  display: inline-block;
  font-size: 32px;
  text-align: center;
}

.letter-to-guess, .guessable-letter {
  flex-grow: 0;
  flex-shrink: 0;
  height: 42px;
  width: 42px;
  margin: 4px;
}

.guessable-letters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guessable-letter {
  font-family: monospace;
  text-transform: uppercase;
}

.graph--wins-at-num-guesses-left {
  height: 100px;
  margin: 0 10px;
}

.graph--wins-at-num-guesses-left--win-count {
  border: solid 1px darkblue;
  background: lightblue;
}

.footer {
  margin-top: 2em;
}